body{
    margin: 0px;
    width: 100%;
    background: #f0f0f8;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

*{box-sizing: border-box;}

.invisojump{
    width: 1px;
    height: 1px;
    position: absolute;
}

/* menu */
.navbar{
    background-color: #f9f9fc;
    width: 100%;
    z-index: 1;
}

.nav-section-logo{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    height: 100px;
    margin: 10px;
}

.nav-section-menu{
    display: inline-block;
    vertical-align: middle;
    margin-left:30%;
}  

.menu-item{
    display: inline-block;
}

h2 > a {
    position: relative;
    color: #2d353c;
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
    margin: 20px;
  }
  
  h2 > a:hover {
    color: #2d353c;
  }

  h2 > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -50px;
    left: 0;
    background-color:  #2d353c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }

  h2 > a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }

  @media screen and (max-width: 1000px) {
    .menu-item{
        display: block;
    } 
    .nav-section-logo{
        width: 100%;
    }  
    .logo{
        display: block;
        margin: 0 auto;
    }
    .nav-section-menu{
        width: 100%;
        text-align: middle;
    }
    h2 > a::before {
        bottom:-10px;
    }
}

/* hero */
.hero-section{
    display: inline-block;
    text-align: center;
}

.hero-section-text{
    padding: 50px;
    text-align: center;
    display:inline-block;
    vertical-align:middle;
}

.hero-text{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
    color:  #2d353c;
}

.hero-section-pic{
    margin:60px;
    margin-top:120px;
    display: inline-block;
    vertical-align:middle;
}
.hero-section-pic img{
    width: 500px;
}

/* features */
.features-section{
    width: 100%;
    background-color:pink;
    background: rgb(113,148,176);
    background: linear-gradient(325deg, rgba(113,148,176,1) 0%, rgba(249,249,252,1) 59%);
    display: inline-block;
    font-size: 20px;
}

.features-icon{
    float: left;
    margin: 50px 80px 50px 40px;
}

.features-icon img{
    width: 200px;
    mix-blend-mode: multiply;
}

.features-row-div{
    display: inline-block;
    color: #262a2d;
    margin-left:80px;
}

.features-row-item{
    display: inline-block; 
    text-align: center; 
    margin-right: 50px;
    margin-top:5vw;
}

.features-row-item img{
    width: 12vw;
}

/*get app*/

.getapp-section{
    background-color: #55758e; 
    width: 100%; 
    text-align: center; 
}

.getapp-center-div{
    display: inline-block; 
    color: white; 
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

.getapp-row-container{
    display: inline-block; 
    vertical-align: middle; 
    padding: 20px;
}

.getapp-row-item{
    display: inline-block; 
    margin-left: 50px;
    transition: transform .01s;
}

.getapp-row-item img{
    width: 50px;
    transition: transform .01s;
}

.getapp-row-item img:hover{
    display: inline-block; 
    margin-left: 50px;
    transform: scale(1.3);
}

/*from our partners*/
.from-heading{
    color: #2d353c;
    margin:25px;
}

.from-row-container{
    font-size:20px;
    color: #2d353c;
    text-align:center;
    margin-top: 100px;
    margin-bottom:100px;
}

.from-row-item{
    text-align:center; 
    width:400px; 
    display:inline-block;
}

.from-row-pic {
    width: 300px;
    height: 200px;
    overflow: hidden;
}

.from-row-pic img {
    width: 500px;
    height: 400px;
}

.text-light{
    color:#7194b0;
}

.more-section{
    width: 100%; 
    text-align: center;
    background-color:#f0f0f8;
}

.more-center-div{
    text-align:center; 
}

.button{
	background-color: #007dc1;
	cursor: pointer;
	color: white;
	font-weight: bold;
	padding: 30px 80px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    margin:50px;
    transition: transform .01s;
    border:none;
}

.button:hover{
    background-color: #0061a7;
    transform: scale(1.1);
}
.button:active{
	position: relative;
}

/*contact us*/
.contact-container{ 
    width: 100%; 
    background-color: #31a3a7;
    padding: 10px;
    border: 15px solid #2d353c;
}

.contact-form-container{
    width: 60%; 
    display: inline-block;
    margin: 0px 0px 20px 20px; 
    font-size: 20px;
}

.contact-heading{
    color: #2d353c;
    margin: 25px;
}

.contact-info-container{
    display: inline-block; 
    float: right; 
    margin-right: 10%; 
    margin-top: 70px; 
    background-color: #31a3a7;
}

.contact-info-list{
    list-style-type:none; 
    font-size:20px; 
    text-align:center;
    font-size:20px;
}

.info-list-icon{
    width:40px;
    height:40px;
}

.dropbtn {
    background-color:white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:20px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #0061a7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0061a7;
}

.footer-section{
    width: 100%; 
    background: #2d353c; 
    text-align: center;
}

.footer-container{
    text-align: center;
}

.footer-heading{
    color: white; 
    font-size: 50px; 
    display: inline-block;
}

.footer-row-container{
    display: inline-block;
    text-align: center;
    margin-top: 30px;
}

.footer-row-text{
    color: #9ac1e0; 
    text-align: center; 
    padding-bottom: 50px; 
    font-size: 30px; 
    display: inline-block;
    text-align: center;
}

.footer-row-text:hover{
    color: white;
}

.fa-twitter, .fa-facebook, .fa-youtube{
    color:white;
    margin:40px;
    transition: transform .01s;
 }
.fa-twitter:hover, .fa-facebook:hover, .fa-youtube:hover{
    transform: scale(1.3);
 }
